body{
  background-image: url("background.svg");
  font-family: "Lucida Console", "Courier New", monospace;
}
.main{
  opacity: 90%;
  text-align: center;
  border-style: outset;
  border-radius: 25px;
  background-color: white;
}

